
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
}
.body-content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:1%;
}
.margin-input{
    margin-left: 9%;
    margin-right: 9%;
}
.shape{
    max-height: 38px;
}
.corning{
    border-radius: 15px;
    background-color: black; 
}
.corner{
    width: 18rem; 
    margin: 1em; 
    padding: 0.5em;
}
h6, p {
    color: white;
    margin-top: 1em;
}
